
.main_topBox {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  position: relative;
  /* background: url("./Imgs/img1.png"); */
  background-size: cover;
  background-repeat: no-repeat;
}

.main_leftTextBox {
  position: absolute;
  height: 138px;
  width: 458px;
  left: 29px;
  top: 44px;
}

.main_leftTextBox h2 {
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  color: #090076;
}

.main_leftTextBox p {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #161616;
}

.imgCircles {
  width: 10%;
  height: 20px;
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCircles ul {
  white-space: nowrap;
}

.imgCircles ul li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  background-color: #00000080;
  cursor: pointer;
}

.imgCircles ul li:nth-child(2) {
  background-color: #090076;
}
