.footer {
    width: 100%;
    height: 226px;
    background-color: #E5E5E5;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footLogos {
    width: 14%;
    height: 22.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}

.footer ul li {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #5A5A5A;
}

.footLogos img {
    cursor: pointer;
    height: 100%;
}

.footNavbar {
    width: 86.1%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.footNavbar ul li {
    display: inline-block;
    padding-right: 40px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}

.footer hr {
    width: 86.1%;
    border: 1px solid white;
}

.signature {
    width: 86.1%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: -30px;
    color: #5A5A5A;
}

.footer_resp {
    display: none;
}