.header_resp {
    display: none;
  }
.header {
    width: 100%;
    height: 84px;
    background-color: #fff;
  }
  
  .header_main {
    width: 86.1%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  
  }
  
  .header_left {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .header_left img {
    width: 32px;
    height: 38px;
    margin-right: 35px;
    cursor: pointer;
  }
  
  .header_left ul {
    white-space: nowrap;
  }
  
  .header_left ul li {
    display: inline-block;
    padding-right: 30px;
    color: #5A5A5A;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
  }
  
  .header_left ul li a:hover, .header_right a:hover {
    color: #090076;
  }
  
  .header ul li:first-child a {
    color: #090076 !important;
  }
  
  .header_left ul li a {
    color: #5A5A5A;
  }
  
  .header_right {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .header_right img {
    padding-right: 12.99px;
    cursor: pointer;
  }
  
  .header_right a {
    color: #161616;
  }
  