 @media only screen and (max-width:285px){

    .galleryBox, .roomsBox, .servicesBox {
        height: 476px;
        margin-top: 40px;
    }
    .galleryImgs .galleryImg1:nth-child(2n+1),.roomsImgs .roomsImg1:nth-child(2n+1) {
        display: none;
    }
    .galleryBox a, .roomsBox a, .servicesBox a {
        margin-bottom: -39px;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

    }

    .galleryTxt p, .roomsTxt p, .servicesTxt p {
        font-size: 20px;


    }

    .galleryTxt hr, .roomsTxt hr {
        width: 25%;
    }

    .servicesTxt hr {
        width: 29%;
    }

    .roomsImg1 p {
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;


    }

    .galleryImgs, .roomsImgs, .servicesImgs {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: center;
    }

    .galleryImg1, .roomsImg1, .servicesImg1 {
        width: 90%;
        height: 130px;
        margin: 5px 0;
    }

 }
 /* @media (min-width:280px) and (max-width:320px) {
    .galleryImgs, .roomsImgs, .servicesImgs {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: space-between;
    }
 } */
 @media (min-width:285px) and (max-width:322px) {

     .galleryBox, .roomsBox, .servicesBox {
         height: 476px;
         margin-top: 40px;
     }

     .galleryBox a, .roomsBox a, .servicesBox a {
         margin-bottom: -30px;
         font-family: Inter;
         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: 19px;
         letter-spacing: 0em;
         text-align: left;

     }

     .galleryTxt p, .roomsTxt p, .servicesTxt p {
         font-size: 20px;


     }

     .galleryTxt hr, .roomsTxt hr {
         width: 25%;
     }

     .servicesTxt hr {
         width: 29%;
     }

     .roomsImg1 p {
         font-family: Montserrat;
         font-size: 14px;
         font-style: normal;
         font-weight: 500;
         line-height: 20px;
         letter-spacing: 0em;
         text-align: left;


     }

     .galleryImgs, .roomsImgs, .servicesImgs {
         display: flex;
         flex-wrap: wrap;
         margin-top: 20px;
         justify-content: space-between;
     }

     .galleryImg1, .roomsImg1, .servicesImg1 {
         width: 48%;
         height: 120px;
         margin: 5px 0;
     }

 }




 @media(min-width:321px) and (max-width:375px) {

     .galleryBox, .roomsBox, .servicesBox {
         height: 476px;
         margin-top: 40px;
     }

     .galleryBox a, .roomsBox a, .servicesBox a {
         margin-bottom: -30px;
         font-family: Inter;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 19px;
         letter-spacing: 0em;
         text-align: left;

     }

     .roomsImg1 p {
         font-family: Montserrat;
         font-size: 16px;
         font-style: normal;
         font-weight: 500;
         line-height: 20px;
         letter-spacing: 0em;
         text-align: left;


     }

     .galleryImgs, .roomsImgs, .servicesImgs {
         display: flex;
         flex-wrap: wrap;
         margin-top: 20px;
     }

     .galleryImg1, .roomsImg1, .servicesImg1 {
         width: 49%;
         height: 125px;
         margin: 5px 0;
     }

 }

 @media (min-width:376px) and (max-width:425px) {

     .galleryBox, .roomsBox, .servicesBox {
         height: 476px;
         margin-top: 40px;
     }

     .galleryBox a, .roomsBox a, .servicesBox a {
         margin-bottom: -30px;
         font-family: Inter;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 19px;
         letter-spacing: 0em;
         text-align: left;

     }

     .roomsImg1 p {
         font-family: Montserrat;
         font-size: 16px;
         font-style: normal;
         font-weight: 500;
         line-height: 20px;
         letter-spacing: 0em;
         text-align: left;


     }

     .galleryImgs, .roomsImgs, .servicesImgs {
         display: flex;
         flex-wrap: wrap;
         margin-top: 20px;
     }

     .galleryImg1, .roomsImg1, .servicesImg1 {
         width: 49%;
         height: 125px;
         margin: 5px 0;
     }

 }




 @media (min-width:426px) and (max-width:600px) {

     .galleryBox, .roomsBox, .servicesBox {
         height: 476px;
         margin-top: 50px;
     }

     .galleryBox a, .roomsBox a, .servicesBox a {
         font-family: Inter;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 19px;
         letter-spacing: 0em;
         text-align: left;

     }

     .roomsImg1 p {
         font-family: Montserrat;
         font-size: 16px;
         font-style: normal;
         font-weight: 500;
         line-height: 20px;
         letter-spacing: 0em;
         text-align: left;


     }

     .galleryImgs, .roomsImgs, .servicesImgs {
         display: flex;
         flex-wrap: wrap;
         margin-top: 20px;
     }

     .galleryImg1, .roomsImg1, .servicesImg1 {
         width: 33%;
         height: 150px;
         margin: 5px 0;

     }
 }

 @media (min-width:601px) and (max-width:900px) {
    .galleryBox, .roomsBox, .servicesBox {
        height: 476px;
        margin-top: 50px;
    }
    .galleryBox a, .roomsBox a, .servicesBox a{
        bottom: -63px;
    }
    .galleryBox a, .roomsBox a, .servicesBox a {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

    }

    .roomsImg1 p {
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;


    }

    .galleryImgs, .roomsImgs, .servicesImgs {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .galleryImg1, .roomsImg1, .servicesImg1 {
        width: 33%;
        height: 200px;
        margin: 5px 0;

    }
 }