* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

li, a {
  list-style: none;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.main_page {
  width: 92.1%;
  height: auto;
  background-color: #fff;
  margin: auto;
}

/* resp */
.navbar_resp {
  display: none;
}