@media(max-width:375px) {
    html, body {
        overflow-x: hidden;
    }

    .wrapper {
        position: relative;
    }

   

    .main_page {
        position: static;
    }

    .main_topBox {
        height: 120.96774291992188px;
        width: 100%;
        border-radius: 0px;
        position: absolute;
        top: 48px;
        margin: auto -15px;


    }

    






    .resp_bl {
        width: 50%;
    }

}